.header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 10px;
}


.options a{
    padding: 10px;
    color: #707070;
}

.options a:hover{
    color: #FF074B;
    border-bottom: 6px solid #FF074B;
    
}

