*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}


html, body, #root{
  height: 100%;
}

body{
  font-family: Poppins, sans-serif;
  background-color: #F3F3F3;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

.App{
  width: min(90vw,800px);
  margin: 0 auto;
 
}